@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
/* font */

:root{
    --main-bg-color:#9f024b;
}
*{
    margin: 0;
    padding: 0;
}

header{
    background-color: var(--main-bg-color);
    font-family: 'Barlow', sans-serif;
    /* position: fixed; */
}

nav{
    display: flex;
}

.logo{
    /* in my code it didn't do anything. */
    display: flex;
    align-items: center;
}

.logo img{
    width: 444px;
    height: 67px;
    /* not seen the addition of padding. */
    /* margin: 0 10px; */
}
nav ul{
    height: 90px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

nav ul li{
    list-style: none;
    /* for adding padding in home etc. */
    padding: 0 23px;
}

nav ul li a{
    color: white;
    text-decoration: none;
    /* to remove underline. */
}

nav ul li a:hover{
    font-weight: bolder;
}

.search{
    display: flex;
    align-items: center;
}

.search input{
    height: 20px;
    width: 350px;
    border-radius: 5px;
    margin: 0 15px 0 330px;
    padding: 0 12px;
}

.search button{
    font-family: 'Barlow', sans-serif;
}

.search button:hover{
    font-weight: bolder;
}
.contain{
    /* height: 84vh; */
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    text-align: center;
    color: white;
}
.contain img{
    width: 180vh;
    height: 80vh;
}

.contain .center-body{
    
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
}
.center-body{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 45.5px;
    font-family: 'Work Sans', sans-serif
    /* font-weight: 25; */
}
.center-down{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 45.5px;
    font-family: 'Work Sans', sans-serif
    /* font-weight: 25; */
}
.contact-main{
    background-color: rgba(210, 210, 210, 0.467);
    min-height: 62vh;
    min-width: 205.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
h1{
    font-family: 'Ubuntu', sans-serif;
}
.contact-form{
    border: 2px solid white;
    padding: 35px;
    margin: 70px 80px 70px 80px;
}
input{ 
    padding: 5px;
}

textarea{
    padding: 5px;
}
form{
    padding: 12px;
}
form input{
    margin: 5px 0 5px 0;
    height: 25px;
    width: 331px;
    border-radius: 3px;
    border: 1px solid rgb(0, 0, 0);
}
.button{
    display: flex;
    justify-content: flex-end;
}
form textarea{
    margin: 5px 0 5px 0 ;
}
footer{
    height: 7vh;
    background-color: var(--main-bg-color);
    color: white;
    font-family: 'Barlow', sans-serif;
}