@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
/* font */

:root{
    --main-bg-color:#9f024b;
}
*{
    margin: 0;
    padding: 0;
}

header{
    background-color: var(--main-bg-color);
    font-family: 'Barlow', sans-serif;
    /* position: fixed; */
}

nav{
    display: flex;
}

.logo{
    /* in my code it didn't do anything. */
    display: flex;
    align-items: center;
}

.logo img{
    width: 444px;
    height: 67px;
    /* not seen the addition of padding. */
    /* margin: 0 10px; */
}
nav ul{
    height: 90px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

nav ul li{
    list-style: none;
    /* for adding padding in home etc. */
    padding: 0 23px;
}

nav ul li a{
    color: white;
    text-decoration: none;
    /* to remove underline. */
}

nav ul li a:hover{
    font-weight: bolder;
}

.search{
    display: flex;
    align-items: center;
}

.search input{
    height: 20px;
    width: 350px;
    border-radius: 5px;
    margin: 0 15px 0 330px;
    padding: 0 12px;
}

.search button{
    font-family: 'Barlow', sans-serif;
}

.search button:hover{
    font-weight: bolder;
}

.btn{
    padding: 1px 3.5px;
    color: white;
    background-color: var(--main-bg-color);
    border: 2px solid white;
    border-radius: 7px;
    cursor: pointer;
}

.box{
    background-color: rgba(169, 135, 174, 0.371);
    min-height: 80.5vh;
    min-width: 50vw;
}
.flex-all-centre{
    display: flex;
    /* for horizontal */
    justify-content: center;
    /* for vertical */
    align-items: center;
}

.box1{
    margin: 0 150px 0 150px;
    padding: 70px;
    background-color: #ffffff;
    font-family: 'Ubuntu', sans-serif;

}
.box2{
    margin: 0 150px 0 150px;
    padding: 70px;
    background-color: #ffffff;
    font-family: 'Ubuntu', sans-serif;
}
p{
    padding: 15px 0 0 0;
}

footer{
    height: 7vh;
    background-color: var(--main-bg-color);
    color: white;
    font-family: 'Barlow', sans-serif;
}